<div>
  <div class="ActionDetail">
    <form class="form-horizontal">
      <fieldset>
        <legend>Action</legend>
        <div class="control-group">
          <label class="control-label" for="name_{{id}}">Name</label>
          <div class="controls">
            <input type="text" class="input-xlarge name" id="name_{{id}}" value="{{name}}">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="type_{{id}}">Type</label>
          <div class="controls">
            <input type="text" class="input-xlarge type" id="type_{{id}}" value="{{type}}" disabled>
          </div>
        </div>
        <button type="button" class="btn close">Cancel</button>
        <button type="button" class="btn-primary save">Save</button>
      </fieldset>
    </form>
  </div>
<div>
