<div id="paintarea" style="position:absolute;left:0px;top:0px;width:3000px;height:3000px" >
</div>
<div class="menu" style="position:fixed;margin:20px;">
  <button class="btn-primary add_action">New Action</button>
</div>
